@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<ul>
    @for(int i = 0; i < 10; i++)
    {
        <li>Privacy Policy Item @i</li>
    }
</ul>
